.fileSection{
    width: calc(10vw - 5px);
    height: calc(100vh - var(--site-header-height));
    background-color: var(--charcoal);
    overflow: auto;
}

.fileSectionInnerBox{
    min-width: 120px;
}

.fileSection::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    height: 7px;
}

/* Scrollbar track */
.fileSection::-webkit-scrollbar-track {
    background: var(--body-background); /* Track background */
    border-radius: 10px;
}

/* Scrollbar thumb */
.fileSection::-webkit-scrollbar-thumb {
    background: var(--gun-metal); /* Thumb color */
    border-radius: 10px;
}

/* Scrollbar thumb hover */
.fileSection::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
}

.fileSectionHeader{
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5px;
    height: 15px;
    color: var(--off-white);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 11px;
    background-color: var(--jet-black);
}

.fileContainer{
    margin-top: 20px;
    width: 100%;
    height: 50vh;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
}


.fileContainer::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    height: 7px;
}

/* Scrollbar track */
.fileContainer::-webkit-scrollbar-track {
    background: var(--body-background); /* Track background */
    border-radius: 10px;
}

/* Scrollbar thumb */
.fileContainer::-webkit-scrollbar-thumb {
    background: var(--gun-metal); /* Thumb color */
    border-radius: 10px;
}

/* Scrollbar thumb hover */
.fileContainer::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
}


.fileList{
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 14px;
    color: var(--soft-dark-grey);
    font-weight: 400;
}

.fileLine{
    width: 100%;
    display: flex;
    cursor: pointer;
    height: 25px;
}

.fileLineSelected{
    background-color: var(--slate-grey);
    width: 100%;
    display: flex;
    cursor: text;
    height: 25px;


}

.fileLine:hover{
    background-color: var(--charcoal-ultra);
}

.deleteButton{
    display: none;
    border: none;
    outline: none;
    margin-right: 5px;
}

.deleteButton:hover{
    cursor: pointer;
}

.fileLine:hover .deleteButton{
    display: block;
}
.fileLineSelected:hover .deleteButton{
    display: block;
}
.file{
    padding-bottom: 3px;
    width: 100%;
    padding-left: 10px;
    padding-right: 5px;
    display: flex;
    align-items: center;

}



.createNewFile{
    width: 100%;
    margin-top: 10px;

}

.createNewFileButton{
    width: 100%;
    color: var(--soft-dark-grey);
    background-color: var(--slate-grey);
    border: 1px solid var(--body-background);
    cursor: pointer;
}

.createNewFileButton:active{
    border: 1px solid var(--charcoal);

}