@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');


.idle{
    width: calc(90vw);
    height: calc(100vh - var(--site-header-height));

    /*child sections props*/
    --editor-height: 80%;
    --editor-width: 70%;
    --output-height: 65%;
    --header-height: 15px;
    display: flex;
}


.editorAndInputParent{
    height: 100%;
    width: calc(var(--editor-width) - 2px);
}

.editorAndInputHeader{
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5px;
    height: var(--header-height);
    background-color: var(--slate-grey);
    color: var(--off-white);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 11px;
}

.editor{
    width: 100%;
    height: calc(var(--editor-height) - 2px);
    background-color: var(--gun-metal);
}

.editorInnerBox{
    width: 100%;
    height: calc(100% - var(--header-height));;
    overflow: auto;
    font-size: 18px;
}

.editorInnerBox::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    height: 7px;
}

/* Scrollbar track */
.editorInnerBox::-webkit-scrollbar-track {
    background: var(--gun-metal); /* Track background */
    border-radius: 10px;
}

/* Scrollbar thumb */
.editorInnerBox::-webkit-scrollbar-thumb {
    background: var(--body-background); /* Thumb color */
    border-radius: 10px;
}

/* Scrollbar thumb hover */
.editorInnerBox::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
}



.input{
    width: 100%;
    height: calc(100% - var(--editor-height) - 6px);
    background-color: var(--gun-metal);
}

.inputInnerBox{
    margin: 0;
    width: calc(100% - 2px);
    height: calc(100% - var(--header-height) - 2px);
    background-color: var(--gun-metal);
    outline: none;
    border: none;
    color: var(--soft-dark-grey);
    font-family: monospace;
    font-size: 16px;
    resize: none;
    overflow: auto;

}


.inputInnerBox::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    height: 7px;
}

/* Scrollbar track */
.inputInnerBox::-webkit-scrollbar-track {
    background: var(--gun-metal); /* Track background */
    border-radius: 10px;
}

/* Scrollbar thumb */
.inputInnerBox::-webkit-scrollbar-thumb {
    background: var(--body-background); /* Thumb color */
    border-radius: 10px;
}

/* Scrollbar thumb hover */
.inputInnerBox::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
}

.editorAndInputSeparator{
    width: 100%;
    height: 4px;
    background-color: var(--body-background);
    cursor: ns-resize;

}

.editorInputAndOutputErrorSeperator{
    width: 4px;
    height: 100%;
    background-color: var(--body-background);
    cursor: ew-resize;
}


.outputAndErrorParent{
    width: calc(100% - var(--editor-width) - 2px);
    height: 100%;
}

.outputAndErrorHeader{
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5px;
    height: var(--header-height);
    background-color: var(--jet-black);
    color: var(--off-white);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 11px;
}


.output{
    width: 100%;
    height: calc(var(--output-height) - 2px);
    background-color: var(--dark-slate-blue);

}

.outputInnerBox{
    color: var(--soft-light-grey);
    padding: 10px;
    font-size: 18px;
    overflow: auto;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    height: calc(100% - var(--header-height));
}

.outputInnerBox::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    height: 7px;
}

/* Scrollbar track */
.outputInnerBox::-webkit-scrollbar-track {
    background: var(--gun-metal); /* Track background */
    border-radius: 10px;
}

/* Scrollbar thumb */
.outputInnerBox::-webkit-scrollbar-thumb {
    background: var(--body-background); /* Thumb color */
    border-radius: 10px;
}

/* Scrollbar thumb hover */
.outputInnerBox::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
}

.error{
    width: 100%;
    height: calc(100% - var(--output-height) - 3px);
    background-color: var(--dark-slate-blue);
}
.errorInnerBox{
    color: var(--soft-light-grey);
    padding: 10px;
    overflow: auto;
    height: calc(100% - var(--header-height));
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.errorInnerBox::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    height: 7px;
}

/* Scrollbar track */
.errorInnerBox::-webkit-scrollbar-track {
    background: var(--gun-metal); /* Track background */
    border-radius: 10px;
}

/* Scrollbar thumb */
.errorInnerBox::-webkit-scrollbar-thumb {
    background: var(--body-background); /* Thumb color */
    border-radius: 10px;
}

/* Scrollbar thumb hover */
.errorInnerBox::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
}


.outputAndErrorSeparator{
    width: 100%;
    height: 4px;
    background-color: var(--body-background);
    cursor: ns-resize;

}
